body {

    margin: 0;
    background-image: url("../imagens/index_wallpaper.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed
}

header {
    height: 100px;
    width: 100%;
    display: flex; /* Define a distribuição dos elementos. */
    justify-content: space-evenly; /* Define a distribuição igualitária dos elementos. */
    align-items: center; /* Alinha os elementos verticalmente */
    position: relative; /* Define a distribuição das imagens */
    background: #22c373;
    background: linear-gradient(180deg, rgba(34, 195, 115, 1) 0%, rgba(253, 187, 45, 0) 100%);

}

a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: Fantasy, Helvetica, sans-serif;
    margin-right: 12px;
}

a:hover {
    text-decoration: overline;
}

nav {
    display: flex; /* Define a distribuição dos elementos. */
    align-items: center; /* Alinha os elementos verticalmente */
    justify-content: flex-end; /* Define a posição dos elementos para o final. */

}

.section_index {
    background-color: #22c373;
    height: 800px;
    border-radius: 40px;
}

h1 {
    color: white
}

.imagens_torneios_recentes {
    margin-bottom: 0px;
    border-radius: 10px;
    background-size: cover;
    margin-left: 5px;
    margin-right: 5px;
    height: 80%;
    width: auto;
}

.imagens_torneios_recentes:hover {
    transform: scale(1.05) translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    filter: brightness(1.1);
}
.grade_torneios_recentes {
     margin-left: 50px;
     margin-right: 50px;
     margin-top: 20px;
     background-color: rgb(21, 255, 0);
     display: flex;
     justify-content: space-evenly;
     align-items: center;
}